<div *ngIf="show">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar style="background-size: cover;" [style.background-image]="'url(' + show.image + ')' | safe: 'style'"></div>
      <mat-card-title>{{show.name}}</mat-card-title>
      <mat-card-subtitle>Started: {{show.premiered | date}} | Status: {{show.status}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p *ngIf="show.summary">{{show.summary | strip}}</p>
    </mat-card-content>
  </mat-card>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let season of show.episodes">
      <mat-expansion-panel-header>
        <mat-panel-title>Season {{season[0].season}}</mat-panel-title>
      </mat-expansion-panel-header>
      <app-season [season]="season"></app-season>
    </mat-expansion-panel>
  </mat-accordion>
</div>
